<div class="row column text-center">
      <h2 class="featured">Featured Today!</h2>
      <hr>
    </div>

    <div class="row small-up-2 medium-up-3 large-up-6">
      {{#each items as |item|}}
      <div class="column">
        <img class="thumbnail" src="https://i.pinimg.com/736x/b5/b3/39/b5b339ffed05df695a2016776a070d9f.jpg">
        <h5>{{item.product_name}}</h5>
        <p>${{item.price}}</p>
        <a href="#" class="button small expanded hollow">Buy</a>
      </div>
      {{/each}}
    </div>