<!doctype html>
<html class="utf-8" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Knick-Knack</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./intro.css">
    <link rel="stylesheet" href="./intro.scss">
    
  </head>
  <body>

    <div class="top-bar-center">
      <ul class="menu"></ul>
      <a href="./intro.html"><img src="./images/logo.png" class="logo" width="400px" height="250px"></img></a>
      <div class="top-bar-left">
        <ul class="menu">
          <li><a href="./shop.html">Shop</a></li>
          <li><a href="#sell">Sell</a></li>
          <li><a href="./login.html">Login</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </div>

    <hr>

  <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>


     <footer class="social-footer">
      <div class="social-footer-left">
        <li class="footerLogo">Knick Knack</li>
      </div>
      <div class="social-footer-icons">
        <ul class="menu simple">
          <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </footer>
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="./scripts.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
  </body>
</html>
