
<div class="product">
        <img src="{{product.filename}}"/>
        <div class="description">
          <h3>{{product.product_name}}</h3>
          <h5>${{product.price}}</h5>
        </div>
      </div>
    <section>
      <form action="/create-checkout-session" method="POST">
        <button type="submit" id="checkout-button" data-id={{product.id}}>Checkout</button>
      </form>
    </section>
    <div class="container-space"></div>