<div class = "img-slider">
<div class="tech-slideshow">
  <div class="mover-1"></div>
</div>
<h1 class="slide-title">From Clothing to Tech, Browse Items from All Around the World!</h1>
{{#if loggedIn}}
              <a href="/shop"><button class= "btn">Shop!</button></a>
              {{else}}
              <a href="/login"><button class= "btn">Login/Sign-up</button></a>
              {{/if}}
</div>
  <br>
      {{> featured}}
    </div>

<br>

<a href="shop"><p class="view-more">View More</p></a>

<br>
    
