<div class="product-layout">
  <div class="productView">
      <img src="{{product.filename}}" class="prod-img" alt="Product Image">
      <h1 id="product-name">{{product.product_name}}</h1>
      <p id="product-description">{{product.product_description}}</p>
      <h2 id="product-price">${{product.price}}</h2>

    <form action="/create-checkout-session" method="POST">
        <button type="submit" class="add-to-cart-btn">Buy</button>
      </form>
    </div>
</div>

<div class="container-space"></div>