
    <div id="product-container">
      <img src="/product.png" alt="Product Image">
      <h1 id="product-name">Product Name</h1>
      <p id="product-description">Product Description</p>
      <h2 id="product-price">$99.99</h2>
      <button id="add-to-cart-btn" onclick="addToCart()">Add to Cart</button>
    </div>
   
      {{!-- function addToCart() {
        alert("Product added to cart!");
      }
     --}}
