
<div class="new-item">
<div class="row">
  <div class="col-auto">
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3 class="listing">List an Item</h3>

    <form class="form new-product-form">
      <div class="form-group">
        <label for="product-name">Product Title:</label>
        <input class="form-input" type="text" id="product-name" name="product-name" />
      </div>

      <label for="product-image">Upload Product Image:</label>
      <input type="file" class="add-img" id="product-image" name="product-image">
      <br>
      <button type="upload">Upload</button>

      <div class="form-group">
        <label for="product-desc">Add a product description:</label>
        <textarea class="form-input" id="product-desc" name="product-desc"></textarea>
      </div>

      <form class="form new-product-form">
      <div class="form-group">
        <label for="product-price">Price:</label>
        <input class="form-input" type="text" id="product-price" name="product-price" />
      </div>

      <div class="form-group">
        <button type="submit" class="list-btn">List Item!</button>
      </div>
    </form>
  </div>
</div>
<div class="container-space"></div>

<script src="/profile.js"></script>