<div class="dropdown">
<label for="category-select">Select a category:</label>
<select id="category-select">
  <option value="all">All</option>
  {{#each categories as |category|}}
  <option value="category1">{{category.category_name}}</option>
  <option value="category2">{{category.category_name}}</option>
  <option value="category3">{{category.category_name}}</option>
  {{/each}}
</select>
</div>

{{> shopItems}}

<div class="container-space"></div>

