

    <h2 class="page-title">Signup</h2>
        <div class="login">
        <form id="sign-in-form">
            <div class="sign-in-form">
              <label for="sign-in-form-name">Name</label>
              <input type="text" class="sign-in-form-name" id="sign-in-form-name">
              <label for="sign-in-form-user">Email:</label>
              <input type="text" class="sign-in-form-user" id="sign-in-form-user">
              <label for="sign-in-form-password">Password</label>
              <input type="password" id="myInput" class="sign-in-form-pass">
              <input type="checkbox" onclick="showPass()">Show Password
              <button type="submit" class="sign-in-form-button">Sign Up!</button>
            </div>
          </form>
        </div>



<script src="/signup.js"></script>