 <div class="col-md-6">

<form class="signup-form" action="/api/user/signup" method="POST">
 <h4 class="text-center">Signup</h4>
  <div class="form-group">
    <label for="name-signup">Name:</label>
    <input class="form-input" type="text" id="name-signup" name="name" />
  </div>
  <div class="form-group">
    <label for="email-signup">Email:</label>
    <input class="form-input" type="text" id="email-signup" name="email" />
  </div>
  <div class="form-group">
    <label for="password-signup">Password:</label>
    <input class="form-input" type="password" id="password-signup" name="password" />
  </div>
  <div class="form-group">
    <button type="submit" class="sign-up-form-button">Sign Up!</button>
  </div>
</form>

  </div>
  <p class="or">Or</p>
        <a href="/login"><button class="sign-option">Login</button></a>
</div>
    <script src="/login.js"></script>

 