
<body>
  <section>
    <h3 class="success">Congrats! Your item is on it's way!</h3>
    <p class="purchased">
      We appreciate your business! If you have any questions, please email
      <a href="mailto:orders@example.com">support@knickknack.com</a>.
    </p>
    <img src="https://static.vecteezy.com/system/resources/previews/009/345/673/original/confetti-falling-vector-for-the-birthday-background-colorful-party-ribbon-and-confetti-design-multicolor-confetti-falling-isolated-on-transparent-background-carnival-element-birthday-celebration-free-png.png"/>
  </section>
</body>
</html>