html body {
  background-color: rgb(255, 255, 255);
}

.logo {
  margin: auto;
  display: block;
}

#category-select {
  width: 150px;
  height: 30px;
  padding: 5px;
  text-align: left;
  margin-left: 10px;
}

.top-bar {
  background-color: rgb(255, 255, 255) !important;
}

a {
  color: #000000 !important;
}

.menu-text {
  text-shadow: black -1px 1px 1px;
  font-size: 32px;
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0);
}

.menu {
  padding-top: 5px;
  font-size: 22px;
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0);
}

.callout {
  background-size: 250px;
  height: 300px;
  text-align: center;
  border: black 1px solid;
  border-radius: 15px;
  color: #0c3e5f;
  font-family: "Fira Sans Condensed", sans-serif;
}

.featured {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 36px;
}

.column {
  text-align: center !important;
}

.mailing-container {
  float: right;
  width: 50%;
}

.copyright {
  padding-bottom: 5px;
  text-align: center;
  color: #0c3e5f;
  font-family: "Rowdies", cursive;
}

.simple {
  background-color: #000000 !important;
}



.social-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  padding: 1rem;
  background: black;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #ffffff;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}

.footerLogo {
  color: white;
  font-family: "Rowdies", cursive;
  list-style: none;
}

.btn {
  font-family: "Fira Sans Condensed", sans-serif;
  position: absolute;
  top: 80%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-shadow: rgb(0, 0, 0) -1px 1px 2wpx;
  text-align: center;
  z-index:1;
  padding: 10px;
}

.sign-in-form {
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: black;
  margin: auto;
  width: 50%;
  border: 3px solid #ffffff;
  border-radius: 20px;
  padding: 10px;
}

.sign-in-form h4 {
  color: white;
  text-shadow: black -1px 1px 1px;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.sign-in-form label {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.sign-in-form input {
  color: rgb(0, 0, 0);
}

.sign-in-form input:focus {
  opacity: 0.9;
}

.sign-in-form-username,
.sign-in-form-password {
  background-color: white;
  border-radius: 30px;
  border: none;
  opacity: 0.1;
  transition: all ease 0.4s;
}

.sign-in-form-button {
  border-radius: 30px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease 0.4s;
}

.sign-in-form-button:hover {
  background-color: #44c8ed;
  border-color: #44c8ed;
}

.login {
  display: table;
  width: 100%;
}

.product-details {
  background-color: #fefefe;
  padding: 2rem;
}

.product-option-selection input[type="radio"] {
  display: none;
  margin: 10px;
}

.product-option-selection input[type="radio"] + label {
  display: inline-block;
  margin: -2px;
  border-color: #ddd;
  margin-right: 0.3rem;
  margin-top: 2px;
  margin-bottom: 10px;
  padding: 0.4rem;
}

.product-option-selection input[type="radio"]:checked + label {
  background: #b6ddf6;
  border: 1px solid #1779ba;
  border-radius: 3px;
  color: #3d3d3d;
  font-weight: 600;
  padding: 0.3rem;
}

.product-details-add-to-cart {
  margin-top: 1rem;
  border-radius: 5px;
  background-color: #fefefe;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #e6e6e6;
  margin-bottom: 25px;
  padding: 22px;
}

.product-details-add-to-cart .in-stock {
  color: #1eac60;
  font-weight: 700;
}

.product-details-add-to-cart .dim-text {
  color: #8a8a8a;
}

.product-details-add-to-cart .price {
  float: right;
  font-weight: 600;
  font-size: 24px;
  color: #4a4a4a;
}

.product-details-add-to-cart .qty {
  width: 60px;
  display: inline-block;
  text-align: center;
  margin-left: 15px;
  margin-bottom: 0;
}

.product-details-add-to-cart .button {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 600;
}

.product-page {
  display: table;
  width: 100%;
}

.product {
  max-width: 400px;
  max-height: 400px;
  display: inline-block;
}

.product-card {
  padding: 5.2rem;
  margin-bottom: 1.5rem;
}

.product-card-thumbnail {
  display: block;
  position: relative;
}

.product-card-title {
  font-family: "Open sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.45rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.product-card-desc {
  color: #8a8a8a;
  display: block;
  font-family: "Open sans", sans-serif;
  font-size: 0.85rem;
}

.product-card-price {
  color: #3e3e3e;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 0.8rem;
}

.product-card-sale {
  color: #cacaca;
  display: inline-block;
  font-size: 0.85rem;
  margin-left: 0.3rem;
  text-decoration: line-through;
}

.product-card-colors {
  display: block;
  margin-top: 0.8rem;
}

hr {
  border: 0;
  border-top: 1px solid #000000;
}

.product-card-color-option {
  display: inline-block;
  height: 25px;
  width: 25px;
}

.product-card-thumbnail {
  width: 125px;
  height: 125px;
}

#product-container {
  text-align: center;
}

#product-name {
  font-size: 36px;
  margin-top: 16px;
}

#product-description {
  font-size: 18px;
  margin-top: 8px;
}

#product-price {
  font-size: 24px;
  margin-top: 16px;
}

.add-to-cart-btn {
  background-color: #000000;
  color: white;
  padding: 8px 16px;
  font-size: 18px;
  margin-top: 16px;
}

.product-image {
  max-height: 300px;
  max-width: 300px;
}

.thumbnail {
  width: 140px;
  height: 140px;
}

.prod-img {
  max-width: 400px;
  max-height: 400px;
}

.cart {
  padding-right: 20px;
}

#category-select {
  padding-left: 15px;
}

.dropdown {
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  padding: 4px;
}

.button.hollow {
  border: 1px solid black !important;
}

.product-layout {
  text-align: center;
  margin-bottom: 8%;
}

.tech-slideshow {
  height: 550px;
  max-width: 4000px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.tech-slideshow > div {
  height: 550px;
  width: 4000px;
  background: url("./images/Untitled_Artwork\ 89.png");
  height: 100%;
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}

.img-slider {
  position: relative;
}

.slide-title {
  padding: 8px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.336);
  font-family: "Fira Sans Condensed", sans-serif;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: black -1px 1px 1px;
  font-size: 50px;
  text-align: center;
  z-index:1;
}

.view-more {
  color: white;
  background-color: black;
  padding: 4px;
  text-align: center;
  width: 15%;
  margin: auto;
}


#checkout-button {
  color: white;
  background-color: black;
  padding: 4px;
  text-align: center;
  width: 15%;
  margin: auto;
}

.container-space {
  height: 150px;
}

#product-description {
font-size: 12px;
padding-right: 25%;
padding-left: 25%;
}

.new-item {
  font-size: 16px;
  font-family: "Fira Sans Condensed", sans-serif;
  text-align: center;
  padding: 10px;
}

.list-btn {
  text-align: 24px;
  color: white;
  background-color: black;
  padding: 7px;
  text-align: center;
  width: 10%;
  margin: auto;
}

label {
  font-size: 20px !important;
}

.new-item {
  font-family: "Fira Sans Condensed", sans-serif;
}

.product-list {
  padding-top: 20px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.delete-btn {
  text-align: 24px;
  color: white;
  background-color: black;
  padding: 5px;
  text-align: center;
  margin: auto;
  font-size: 14px;
}

.all-listings {
  display: inline-flex;
}

.my-listings {
  font-family: "Fira Sans Condensed", sans-serif;
  display: grid;
  padding: 15px;
}

.listed-product {
  font-family: "Fira Sans Condensed", sans-serif;
  padding: 3px;
}

.listed-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100px;
  max-width: 100px;
}

.welcome {
  text-align: center;
  font-size: 28px;
}